<% include ../partials/header.ejs %>
<div class="ui middle aligned center aligned grid">
    <div class="six wide column">
        <h1 class="ui header">
            <div class="content">
                    Create a New Meal Plan
            </div>
        </h1>

        <form class="ui form" action="/plans" method="POST">
            <div class="ui stacked segment">
                <div class="field">
                        <input name="plan[name]" placeholder="Meal Name" type="text">
                    </div>
                <button class="ui fluid large blue submit button" type="submit">Create</button>
            </div>
        </form> 
    </div>
</div>


<a href="/meals">Go Back</a>

<% include ../partials/footer %>