<!DOCTYPE html>
<html>
    <head>
        <title>Very Good Meal Planner</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

    </head>
    <body>
        <div class="ui container">
            <div class="ui menu">
                <a class="header item" href="/">Very Good Meal Planner</a>
                <div class="right menu">
                    <a class="item" href="/login">Log In</a>
                    <a class="item" href="/register">Sign Up</a>
                    <a class="item" href="/logout">Log Out</a>
                </div>
            </div>
