<% include partials/header %>

<div class="ui grid container">
    <div class="row">
        <div class="column">
            <p>
                <h1 class="ui center aligned header">Very Good Meal Planner</h1>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="center aligned column">
            <a class="ui green button" href="meals">View All Meals</a>
        </div>
    </div>
</div>


<% include partials/footer %>