<% include partials/header.ejs %>
<h1>Create a New Meal</h1>

<form class="ui form" action="/meals" method="POST">
    <div class="field">
        <label>Name</label>
        <input name="meal[name]" placeholder="Meal Name" type="text">
    </div>
    <div class="field">
        <label>Image</label>
        <input name="meal[image]" placeholder="Image URL" type="text">
    </div>
    <button class="ui button" type="submit">Submit</button>
</form>


<% include partials/footer %>