<% include ../partials/header %>
<div class="ui grid">
    <div class="row">
            <div class="column">
                <div class="ui massive message">
                        <h1 class="ui header">Welcome to Very Good Meal Planner!</h1>
                        <p>Create your meal plan using our hand-picked meals.</p>
                        <a class="ui blue button" href="/meals/new">Add New Meal</a>
                </div>
            </div>
        </div>
</div>

<div class="ui four column doubling stackable grid">
    <div class="row">
        <div class="column">
            <h3>Our Most Popular Meals</h3>
        </div>
    </div>
    <% meals.forEach(function(meal){ %>
        <div class="column">
            <div class="ui card">
                <div class="image">
                    <img src="<%= meal.image %>">
                </div>
                <div class="center aligned content">
                    <h4><%= meal.name %></h4>
                    <p><a class="ui blue button" href="/meals/<%= meal._id %>">Show Recipe</a></p>
                </div>
            </div>
        </div>
    <% }) %> 
</div>

<% include ../partials/footer %>