<% include ../partials/header %>

<h1><%= meal.name %></h1>
<img src="<%= meal.image %>">
<h3>Ingredients:</h3>
<p><%= meal.ingredients %></p>
<h3>Recipe:</h3>
<p><%= meal.recipe %></p>



<% include ../partials/footer %>